UCSD_USERNAME=UCSD_USERNAME to connect to UCSD_PROTECTED
UCSD_PASSWORD=UCSD_PASSWORD to connect to UCSD_PROTECTED
WIFI_SSID=UCSD-PROTECTED
# NON_ENTERPRISE_WIFI_PASSWORD=Optional don't need it if you are connecting to UCSD PROTECTED since that uses username, password